<head>
    <script type="text/javascript" src="script.js">
    </script>
    <link rel="stylesheet" href="style.css">
</head> 

<body>
    <section class="wrapper">
        <form name="changeValue">
                <label>Value to change: 
                    <input type="number" name="number" placeholder="Type a number" pattern="[0-9]+$" />
                </label>
                <button class="btn btn-secondary" type="button"
                    onclick="Bills.changeMoney(this.form.number.value)">
                    Change money
                    </button>
        </form>
    </section>

</body>