html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #292b2c;
    background-color: rgb(243, 243, 216);
}


.wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
    place-content: center;
    align-items: center;
    height: 50vh;
    min-height: 100vh;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    border-radius: 60px;
    width: 100%;
    height: 80px;
    font-size: x-large;
}


.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    /* border-color: #ccc; */
}

.btn-secondary:hover {
    text-decoration: none;
    color: #2c2c29;
    background-color: #f1e45b;
    border-color: transparent;
    transform: scale(1.1);
}
.btn-secondary:focus,
.btn-secondary.focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

input {
    position: relative;
    font-family: inherit;
    cursor: text;
    font-size: 16px;
    line-height: 20px;
    padding: 0 16px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #d6d6e7;
    border-radius: 3px;
    color: rgb(35, 38, 59);
    box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
    overflow: hidden;
    transition: all 100ms ease-in-out;
    :focus {
        border-color: #3c4fe0;
        box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
    }
}

label{
    display: flex;
     gap:24px;
     place-items: center;
}